<div class="p-8 bg-gray-100">
  <div class="mx-auto bg-white p-6 rounded-lg shadow-md">
    <h2 class="text-[24px] font-semibold mb-4 p-2">Candidate List</h2>

    <div class="flex items-center gap-4 mb-4 p-2 md:flex-row flex-col">
      <form
        [formGroup]="searchForm"
        class="flex flex-col md:flex-row md:items-center md:gap-4 mb-6 w-full"
      >
        <div class="relative w-full md:w-1/3">
          <input
            formControlName="keyword"
            type="text"
            placeholder="Search"
            class="border border-[#ccc] p-3 rounded w-full pr-10 focus:border-[#1976d2]"
            (change)="keywordChange()"
          />
          <i
            class="fa-solid fa-magnifying-glass absolute right-3 top-1/2 transform -translate-y-1/2 text-gray-500"
          ></i>
        </div>
        <select
          (change)="statusChange()"
          formControlName="status"
          title="statusSearch"
          class="border border-[#ccc] p-3 rounded w-full md:w-1/4 focus:border-[#1976d2] mt-2 md:mt-0"
        >
          <option value="">Status</option>
          <option *ngFor="let status of statusList" [value]="status.name">
            {{ status.name }}
          </option>
        </select>
      </form>
    </div>

    <div class="flex items-center justify-end mb-2">
      <button
        class="bg-[#1976d2] text-white px-4 py-2 mr-4 rounded font-semibold w-1/2 md:w-1/5 cursor-pointer"
        (click)="searchData()"
      >
        Search
      </button>
      <button
        routerLink="/admin/candidates/create"
        routerLinkActive="router-link-active"
        class="bg-[#1976d2] text-white px-4 py-2 rounded font-semibold w-1/2 md:w-1/5 md:min-w-[100px] cursor-pointer"
      >
        Add new
      </button>
    </div>

    <!-- Table -->
    <app-table
      [data]="data"
      [columns]="columns"
      [isShowNumber]="true"
      [currentPage]="currentPage"
      [currentPageSize]="currentPageSize"
      [pageSizeOptions]="pageSizeOptions"
      (onPageChange)="onPageChange($event)"
      (onPageSizeChange)="onPageSizeChange($event)"
      (onView)="viewDetail($event)"
      (onEdit)="edit($event)"
      (onDelete)="delete($event)"
    >
    </app-table>
  </div>
</div>
