<div class="container mx-auto max-w-screen-xl py-4">
  
  <!-- Card bao quanh form -->
  <div class="bg-white shadow-md hover:shadow-lg rounded-md p-8">
    <div class="flex flex-col md:flex-row md:items-center md:justify-between gap-2 mb-6">
      <h2 class="text-2xl font-semibold">Offer Information</h2>
    
      <!-- Ngày tạo / cập nhật -->
      <ng-container *ngIf="offer; else createUpdateDate">
        <div class="text-sm text-gray-500 text-left md:text-right">
          <p>Created at: {{ offer.createdDate | date: 'dd/MM/yyyy HH:mm:ss' }}</p>
          <p>
            Last updated:
            {{ offer.updatedDate ? (offer.updatedDate | date: 'dd/MM/yyyy HH:mm:ss') : "Haven't updated yet" }}
          </p>
        </div>
      </ng-container>
    
      <ng-template #createUpdateDate>
        <div class="text-sm text-gray-500 text-left md:text-right">
          <p>Created at: Loading ...</p>
          <p>Last updated: Loading ...</p>
        </div>
      </ng-template>
    </div>
    <div class="flex justify-end pb-4">
      <!-- Cancel -->
      <button *ngIf="canShowButton('Cancel')" type="button" (click)="openModal()"
        class="cursor-pointer mr-4 bg-red-400 text-white font-semibold py-2 px-6 rounded-md hover:bg-red-300">
        Cancel offer
      </button>
      <!-- Declined -->
      <button *ngIf="canShowButton('Declined')" type="button"
        (click)="changeStatusOffer('Declined offer')" (click)="changeStatusCandidate('DeclinedOffer')" routerLink="/admin/offers"
        class="cursor-pointer mr-4 bg-green-600 text-white font-semibold py-2 px-6 rounded-md hover:bg-red-300">
        Declined
      </button>
      <!-- Accept -->
      <button *ngIf="canShowButton('Accept')" type="button" 
        (click)="changeStatusOffer('Accepted offer')" (click)="changeStatusCandidate('AcceptedOffer')" routerLink="/admin/offers"
        class="cursor-pointer mr-4 bg-yellow-400 text-white font-semibold py-2 px-6 rounded-md hover:bg-red-300">
        Accept
      </button>
      <!-- Approve -->
      <button *ngIf="canShowButton('Approve')" type="button" (click)="changeStatusOffer('Approved offer')" routerLink="/admin/offers"
        class="cursor-pointer mr-4 bg-green-600 text-white font-semibold py-2 px-6 rounded-md hover:bg-green-500">
        Approve
      </button>
      <!-- Reject -->
      <button *ngIf="canShowButton('Reject')" type="button" (click)="changeStatusOffer('Rejected offer')" routerLink="/admin/offers"
        class="cursor-pointer mr-4 bg-yellow-400 text-white font-semibold py-2 px-6 rounded-md hover:bg-yellow-300">
        Reject
      </button>
      <!-- Mark as sent to candidate -->
      <button *ngIf="canShowButton('Mark as sent to candidate')" type="button" 
        (click)="changeStatusOffer('Waiting for Response')" (click)="changeStatusCandidate('Waiting for Response')" routerLink="/admin/offers"
        class="cursor-pointer mr-4 bg-yellow-400 text-white font-semibold py-2 px-6 rounded-md hover:bg-yellow-300">
        Mark as sent to candidate
      </button>
    </div>

    <div class="grid grid-cols-1 md:grid-cols-2 gap-6 w-auto">
      <!-- Candidate (as paragraph) -->
      <div>
        <label for="candidate" class="block text-lg font-semibold mb-1">
          Candidate
        </label>
        <p class="rounded-md">{{offer.candidateName}}</p>
      </div>

      <!-- Position (as paragraph) -->
      <div>
        <label for="position" class="block text-lg font-semibold mb-1">
          Position
        </label>
        <p class="rounded-md">{{offer.position}}</p>
      </div>

      <!-- Approver (as paragraph) -->
      <div>
        <label for="approver" class="block text-lg font-semibold mb-1">
          Approver
        </label>
        <p class="rounded-md">{{offer.approver}}</p>
      </div>

      <!-- Interview Info (as paragraph) -->
      <div>
        <label for="interview" class="block text-lg font-semibold mb-1">
          Interview Info
        </label>
        <p class="rounded-md"  [innerHTML]="interviewer">{{interviewer}}</p>
      </div>

      <!-- Contract Period (as paragraph) -->
      <div>
        <label for="contractPeriod" class="block text-lg font-semibold mb-1">
          Contract Period
        </label>
        <p class="rounded-md">From {{offer.contractStart}} To {{offer.contractEnd}}</p>
      </div>

      <!-- Contract Type (as paragraph) -->
      <div>
        <label for="contractType" class="block text-lg font-semibold mb-1">
          Contract Type
        </label>
        <p class="rounded-md">{{offer.contractType}}</p>
      </div>

      <!-- Level (as paragraph) -->
      <div>
        <label for="level" class="block text-lg font-semibold mb-1">
          Level
        </label>
        <p class="rounded-md">{{offer.levelName}}</p>
      </div>

      <!-- Department (as paragraph) -->
      <div>
        <label for="department" class="block text-lg font-semibold mb-1">
          Department
        </label>
        <p class="rounded-md">{{offer.departmentName}}</p>
      </div>

      <!-- Recruiter Owner (as paragraph) -->
      <div>
        <label for="recruiter" class="block text-lg font-semibold mb-1">
          Recruiter Owner
        </label>
        <p class="rounded-md">{{recruiter}}</p>
      </div>

      <!-- Due Date (as paragraph) -->
      <div>
        <label for="dueDate" class="block text-lg font-semibold mb-1">
          Due Date
        </label>
        <p class="rounded-md">{{offer.dueDate}}</p>
      </div>

      <!-- Basic Salary (as paragraph) -->
      <div>
        <label for="salary" class="block text-lg font-semibold mb-1">
          Basic Salary
        </label>
        <p class="rounded-md">{{offer.salaryBasic}}</p>
      </div>

      <!-- Status (as paragraph) -->
      <div>
        <label for="status" class="block text-lg font-semibold mb-1">
          Status
        </label>
        <p class="rounded-md">{{offer.status}}</p>
      </div>

      <!-- Note (as paragraph) -->
      <div>
        <label for="note" class="block text-lg font-semibold mb-1">
          Note
        </label>
        <p class="rounded-md">{{offer.note}}</p>
      </div>

      
    </div>
    
    <!-- Action buttons -->
    <div class="mt-8 flex justify-end">
      <!-- Edit -->
      <button *ngIf="canShowButton('Edit')" type="button" [routerLink]="'/admin/offers/' + offer.id + '/edit'"
        class="cursor-pointer mr-4 bg-[#1976d2] text-white font-semibold py-2 px-6 rounded-md hover:bg-[#125cb0]">
        Edit
      </button>
      <!-- Back -->
      <button type="button" routerLink="/admin/offers"
        class="cursor-pointer border border-[#1976d2] text-[#1976d2] bg-white font-semibold py-2 px-6 rounded-md hover:bg-[#e3f2fd]">
        Back
      </button>
    </div>
  </div>

  <app-confirm-modal
    [isOpen]="isModalOpen"
    (onClose)="handleCloseModal()"
    (onConfirm)="handleConfirmCancel()">
  </app-confirm-modal>
</div>