<div class="container mx-auto max-w-screen-xl py-8 px-4">
  <!-- Breadcrumb -->
  <div class="pb-8 flex items-center justify-between">
    <!-- Bên trái: Đường dẫn -->
    <div>
      <a routerLink="/admin/offers" class="cursor-pointer text-xl text-[#1976d2] hover:underline" href="">Offer List</a>
      >
      <a class="cursor-pointer text-xl text-[#1976d2] hover:underline" href="">Offer Detail</a>
    </div>
    <!-- Bên phải: thông tin Created/Updated nếu muốn -->
    <div class="text-sm text-gray-500">
      <p>Created at: 2023-12-01</p>
      <p>Last updated: 2023-12-05</p>
    </div>
  </div>

  <!-- Card bao quanh form -->
  <div class="bg-white shadow-md hover:shadow-lg rounded-md p-8">
    <div class="flex justify-end">
      <!-- Cancel -->
      <button *ngIf="canShowButton('Cancel')" type="button"
        class="cursor-pointer mr-4 bg-red-400 text-white font-semibold py-2 px-6 rounded-md hover:bg-red-300">
        Cancel offer
      </button>
      <!-- Declined -->
      <button *ngIf="canShowButton('Declined')" type="button"
        class="cursor-pointer mr-4 bg-red-400 text-white font-semibold py-2 px-6 rounded-md hover:bg-red-300">
        Declined
      </button>
      <!-- Accept -->
      <button *ngIf="canShowButton('Accept')" type="button"
        class="cursor-pointer mr-4 bg-red-400 text-white font-semibold py-2 px-6 rounded-md hover:bg-red-300">
        Accept
      </button>
      <!-- Approve -->
      <button *ngIf="canShowButton('Approve')" type="button"
        class="cursor-pointer mr-4 bg-green-600 text-white font-semibold py-2 px-6 rounded-md hover:bg-green-500">
        Approve
      </button>
      <!-- Reject -->
      <button *ngIf="canShowButton('Reject')" type="button"
        class="cursor-pointer mr-4 bg-yellow-400 text-white font-semibold py-2 px-6 rounded-md hover:bg-yellow-300">
        Reject
      </button>
      <!-- Mark as sent to candidate -->
      <button *ngIf="canShowButton('Mark as sent to candidate')" type="button"
        class="cursor-pointer mr-4 bg-yellow-400 text-white font-semibold py-2 px-6 rounded-md hover:bg-yellow-300">
        Mark as sent to candidate
      </button>
    </div>

    <!-- Phần I: Offer information -->
    <h2 class="text-2xl font-semibold mb-4">Offer information</h2>

    <div class="grid grid-cols-1 md:grid-cols-2 gap-6">
      <!-- Candidate (chỉ đọc) -->
      <div class="md:col-span-2">
        <label for="candidate" class="block text-lg font-semibold mb-1">
          Candidate
        </label>
        <input type="text" id="candidate" name="candidate"
          class="w-full border border-gray-300 rounded-md px-3 py-2 focus:outline-none" readonly value="{{offer.candidateName}}" />
      </div>

      <!-- Position (chỉ đọc) -->
      <div>
        <label for="position" class="block text-lg font-semibold mb-1">
          Position
        </label>
        <input type="text" id="position" name="position"
          class="w-full border border-gray-300 rounded-md px-3 py-2 focus:outline-none" readonly
          value="{{offer.position}}" />
      </div>

      <!-- Approver (chỉ đọc) -->
      <div>
        <label for="approver" class="block text-lg font-semibold mb-1">
          Approver
        </label>
        <input type="text" id="approver" name="approver"
          class="w-full border border-gray-300 rounded-md px-3 py-2 focus:outline-none" readonly value="{{offer.approver}}" />
      </div>

      <!-- Interview Info (chỉ đọc) -->
      <div class="md:col-span-2">
        <label for="interview" class="block text-lg font-semibold mb-1">
          Interview Info
        </label>
        <textarea type="text" id="interview" name="interview"
          class="w-full border border-gray-300 rounded-md px-3 py-2 focus:outline-none" readonly
          [value]="interviewer" ></textarea>
      </div>

      <!-- Contract Period (chỉ đọc) -->
      <div class="md:col-span-2">
        <label for="contractPeriod" class="block text-lg font-semibold mb-1">
          Contract Period
        </label>
        <input type="text" id="contractPeriod" name="contractPeriod"
          class="w-full border border-gray-300 rounded-md px-3 py-2 focus:outline-none" readonly
          value="From {{offer.contractStart}}  To {{offer.contractEnd}}" />
      </div>

      <!-- Contract Type (chỉ đọc) -->
      <div>
        <label for="contractType" class="block text-lg font-semibold mb-1">
          Contract Type
        </label>
        <input type="text" id="contractType" name="contractType"
          class="w-full border border-gray-300 rounded-md px-3 py-2 focus:outline-none" readonly value="{{offer.contractType}}" />
      </div>

      <!-- Level (chỉ đọc) -->
      <div>
        <label for="level" class="block text-lg font-semibold mb-1">
          Level
        </label>
        <input type="text" id="level" name="level"
          class="w-full border border-gray-300 rounded-md px-3 py-2 focus:outline-none" readonly value="{{offer.level}}" />
      </div>

      <!-- Department (chỉ đọc) -->
      <div>
        <label for="department" class="block text-lg font-semibold mb-1">
          Department
        </label>
        <input type="text" id="department" name="department"
          class="w-full border border-gray-300 rounded-md px-3 py-2 focus:outline-none" readonly value="{{offer.departmentName}}" />
      </div>

      <!-- Recruiter Owner (chỉ đọc) -->
      <div>
        <label for="recruiter" class="block text-lg font-semibold mb-1">
          Recruiter Owner
        </label>
        <input type="text" id="recruiter" name="recruiter"
          class="w-full border border-gray-300 rounded-md px-3 py-2 focus:outline-none" readonly
          [value]="recruiter"/>
      </div>

      <!-- Due Date (chỉ đọc) -->
      <div>
        <label for="dueDate" class="block text-lg font-semibold mb-1">
          Due Date
        </label>
        <input type="text" id="dueDate" name="dueDate"
          class="w-full border border-gray-300 rounded-md px-3 py-2 focus:outline-none" readonly value="{{offer.dueDate}}" />
      </div>

      <!-- Basic Salary (chỉ đọc) -->
      <div>
        <label for="salary" class="block text-lg font-semibold mb-1">
          Basic Salary
        </label>
        <input type="text" id="salary" name="salary"
          class="w-full border border-gray-300 rounded-md px-3 py-2 focus:outline-none" readonly value="{{offer.salaryBasic}}" />
      </div>

      <!-- Status (chỉ đọc) -->
      <div>
        <label for="status" class="block text-lg font-semibold mb-1">
          Status
        </label>
        <input type="text" id="status" name="status"
          class="w-full border border-gray-300 rounded-md px-3 py-2 focus:outline-none" readonly
          value="{{offer.status}}" />
      </div>

      <!-- Note (chỉ đọc) -->
      <div class="md:col-span-2">
        <label for="note" class="block text-lg font-semibold mb-1">
          Note
        </label>
        <textarea id="note" name="note" rows="3"
          class="w-full border border-gray-300 rounded-md px-3 py-2 focus:outline-none" readonly>{{offer.note}}</textarea>
      </div>
    </div>

    <!-- Action buttons -->
    <div class="mt-8 flex justify-end">
      <!-- Edit -->
      <button *ngIf="canShowButton('Edit')" type="button" [routerLink]="'/admin/offers/' + offer.id + '/edit'"
        class="cursor-pointer mr-4 bg-[#1976d2] text-white font-semibold py-2 px-6 rounded-md hover:bg-[#125cb0]">
        Edit
      </button>
      <!-- Back -->
      <button type="button" routerLink="/admin/offers"
        class="cursor-pointer border border-[#1976d2] text-[#1976d2] bg-white font-semibold py-2 px-6 rounded-md hover:bg-[#e3f2fd]">
        Back
      </button>
    </div>
  </div>
</div>