
<div >
  <app-dashboard-slider></app-dashboard-slider>
</div>

<!-- Chart Section (Responsive) -->
<div class="flex flex-col md:flex-row justify-center gap-6 px-4">
  <app-bar-chart
    title="Candidate Chart by Week"
    label="Candidate"
    [realData]="candidateChartRealData"
    (monthYearChange)="onMonthYearCandidateSearchChanged($event)">
  </app-bar-chart>

  <app-bar-chart
    title="Job Chart by Week"
    label="Job"
    [realData]="jobChartRealData"
    (monthYearChange)="onMonthYearJobSearchChanged($event)">
  </app-bar-chart>
</div>
