<div class="pt-4 bg-gray-100">
  <div class="mx-auto bg-white p-8 rounded-lg shadow-md">
    <!-- Search and Filter Section -->
    <form [formGroup]="searchForm" class="flex flex-col md:flex-row md:items-center gap-3 md:gap-4 mb-3  rounded-lg">
      <!-- Input Search -->
      <div class="relative w-full md:w-1/2">
        <input type="text" placeholder="Search by name, email..." formControlName="keyword"
          class="w-full border border-gray-300 rounded-lg py-3 px-4 pr-10 text-sm focus:outline-none focus:ring-2 focus:ring-blue-500"
          (input)="onSearch()" />
        <i class="fa-solid fa-magnifying-glass absolute right-3 top-1/2 transform -translate-y-1/2 text-gray-400 text-base pointer-events-none"></i>
      </div>

      <!-- Select Department -->
      <div class="w-full md:w-1/4">
        <select formControlName="departmentId"
          class="w-full border border-gray-300 rounded-lg py-3 px-4 text-sm focus:outline-none focus:ring-2 focus:ring-blue-500"
          (change)="onSearch()">
          <option value="">-- Department --</option>
          <option *ngFor="let dept of departments" [value]="dept.id">{{ dept.departmentName }}</option>
        </select>
      </div>

      <!-- Select Status -->
      <div class="w-full md:w-1/4">
        <select formControlName="status"
          class="w-full border border-gray-300 rounded-lg py-3 px-4 text-sm focus:outline-none focus:ring-2 focus:ring-blue-500"
          (change)="onSearch()">
          <option value="">-- Status --</option>
          <option value="true">Active</option>
          <option value="false">Inactive</option>
        </select>
      </div>
    </form>


    <!-- Action Buttons -->
    <div class="flex items-center justify-end mb-3">
      <button (click)="onSearch()"
              class="bg-[#1976d2] text-white px-4 py-2 mr-3 rounded font-medium md:min-w-[80px] cursor-pointer">
        Search
      </button>
      <button routerLink="/admin/users/create"
              class="bg-[#1976d2] text-white px-4 py-2 rounded font-medium md:min-w-[80px] cursor-pointer">
        Add new
      </button>
    </div>

    <!-- Danh sách người dùng -->
    <app-user-table
      [columns]="columns"
      [data]="data"
      [currentPage]="currentPage"
      [currentPageSize]="currentPageSize"
      [pageSizeOptions]="pageSizeOptions"
      (onPageChange)="onPageChange($event)"
      (onPageSizeChange)="onPageSizeChange($event)">
    </app-user-table>
  </div>
</div>
