<div class="pt-4 bg-gray-100">
  <div class="mx-auto bg-white p-8 rounded-lg shadow-md">
    <!-- Search and Filter Section -->
    <form [formGroup]="searchForm" (ngSubmit)="onSearch()">
      <div class="flex flex-col md:flex-row items-center gap-4 mb-6">
        <!-- Tìm kiếm theo từ khóa -->
        <div class="relative w-full md:w-1/3">
          <input type="text"
                 formControlName="keyword"
                 placeholder="Search by name, email..."
                 class="border p-2 rounded w-full pr-10 focus:border-blue-500">
          <i class="fa-solid fa-magnifying-glass absolute right-3 top-1/2 transform -translate-y-1/2 text-gray-500"></i>
        </div>
        <!-- Filter theo Department -->
        <select formControlName="departmentId"
                (change)="onSearch()"
                class="border p-2 rounded w-full md:w-1/4 focus:border-blue-500">
          <option value="">All Departments</option>
          <option *ngFor="let dept of departments" [value]="dept.id">{{ dept.departmentName }}</option>
        </select>
        <!-- Filter theo Status -->
        <select formControlName="status"
                (change)="onSearch()"
                class="border p-2 rounded w-full md:w-1/4 focus:border-blue-500">
          <option value="">All Status</option>
          <option value="true">Active</option>
          <option value="false">Inactive</option>
        </select>
      </div>
    </form>

    <!-- Action Buttons -->
    <div class="flex items-center justify-end mb-2">
      <button (click)="onSearch()"
              class="bg-[#1976d2] text-white px-4 py-2 mr-3 rounded font-medium md:min-w-[80px] cursor-pointer">
        Search
      </button>
      <button routerLink="/admin/users/create"
              class="bg-[#1976d2] text-white px-4 py-2 rounded font-medium md:min-w-[80px] cursor-pointer">
        Add new
      </button>
    </div>

    <!-- Danh sách người dùng -->
    <app-user-table
      [columns]="columns"
      [data]="data"
      [currentPage]="currentPage"
      [currentPageSize]="currentPageSize"
      [pageSizeOptions]="pageSizeOptions"
      (onPageChange)="onPageChange($event)"
      (onPageSizeChange)="onPageSizeChange($event)">
    </app-user-table>
  </div>
</div>
