<!-- Container chính, max-width ~1200px, margin auto -->
<div class="container py-4 max-w-full">
  <!-- Card bao quanh form -->
  <div class="bg-white shadow-md hover:shadow-lg rounded-md p-8 mx-auto">
    <!-- Phần I: Schedule information -->
    <h2 class="text-2xl font-semibold">Schedule Information</h2>

    <div class="py-4 flex justify-end">
      <!-- Submit -->
      <button type="button" (click)="sendReminder()"
        class=" cursor-pointer mr-4 bg-[#1976d2] text-white font-semibold py-2 px-6 rounded-md hover:bg-[#125cb0]">
        Send Reminder
      </button>
    </div>

    <div class="grid grid-cols-1 md:grid-cols-2 gap-6">
      <!-- Schedule Title (chỉ đọc) -->
      <div>
        <h3 class="text-lg font-medium text-gray-700">Schedule Title</h3>
        <p class=" rounded-md ">{{ interview.title }}</p>
      </div>

      <!-- Candidate name (chỉ xem) -->
      <div>
        <h3 class="text-lg font-medium text-gray-700">Candidate Name</h3>
        <p class=" rounded-md ">{{ interview.candidateName }}</p>
      </div>

      <!-- Schedule Time (chỉ đọc) -->
      <div>
        <h3 class="text-lg font-medium text-gray-700">Schedule Time</h3>
        <p class=" rounded-md ">{{ `${interview.interviewDate} ${interview.startTime} - ${interview.endTime}` }}</p>
      </div>

      <!-- Job (chỉ xem) -->
      <div>
        <h3 class="text-lg font-medium text-gray-700">Job</h3>
        <p class=" rounded-md ">{{ interview.jobName }}</p>
      </div>

      <!-- Interviewers (chỉ xem) -->
      <div>
        <h3 class="text-lg font-medium text-gray-700">Interviewers</h3>
        <p class=" rounded-md ">{{ interview.interviewersName?.join(', ') }}</p>
      </div>

      <!-- Location (chỉ đọc) -->
      <div>
        <h3 class="text-lg font-medium text-gray-700">Location</h3>
        <p class=" rounded-md ">{{ interview.location || "N/A" }}</p>
      </div>

      <!-- Recruiter owner (chỉ đọc) -->
      <div>
        <h3 class="text-lg font-medium text-gray-700">Recruiter owner</h3>
        <p class=" rounded-md ">{{ interview.recruiterName }}</p>
      </div>

      <!-- Meeting ID (chỉ đọc) -->
      <div>
        <h3 class="text-lg font-medium text-gray-700">Meeting ID</h3>
        <p class=" rounded-md ">{{ interview.meetingId || "N/A" }}</p>
      </div>

      <!-- Result -->
      <div>
        <h3 class="text-lg font-medium text-gray-700">Result</h3>
        <p class=" rounded-md ">{{ interview.result || "N/A" }}</p>
      </div>

      <!-- Status -->
      <div>
        <h3 class="text-lg font-medium text-gray-700">Status</h3>
        <p class=" rounded-md ">{{ interview.status }}</p>
      </div>

      <!-- Notes (chỉ đọc) -->
      <div class="md:col-span-2">
        <label for="notes" class="block text-lg font-medium mb-1">
          Notes
        </label>
        <textarea id="notes" name="notes" rows="8" [value]="interview.note"
          class="w-full border border-gray-300 rounded-md px-3 py-2 focus:outline-none" readonly>
        </textarea>
      </div>
    </div>

    <!-- Nút Edit / Back -->
    <div class="mt-8 flex justify-end">
      <!-- Edit -->
      <button type="button" [routerLink]="`/admin/interviews/${id}/edit/`"
        *ngIf="authService.hasRole(['ADMIN', 'MANAGER','RECRUITER'])"
        class="cursor-pointer not-only-of-type:mr-4 bg-[#1976d2] text-white font-semibold py-2 px-6 rounded-md hover:bg-[#125cb0]">
        Edit
      </button>
      <!-- Back -->
      <button type="button" routerLink="/admin/interviews"
        class=" cursor-pointer not-odd:border border-[#1976d2] text-[#1976d2] bg-white font-semibold py-2 px-6 rounded-md hover:bg-[#e3f2fd]">
        Back
      </button>
    </div>
  </div>
</div>
