<aside class="flex flex-col h-full bg-[#121C3E] text-white fixed left-0 z-50"
  [ngClass]="(sidebarService.isCollapsed$ | async) ? 'hidden' : 'w-64'">
  <div class="flex w-full mt-6 justify-center"
    [ngClass]="{'hidden': sidebarService.isCollapsed}">
    <a routerLink="/admin" routerLinkActive="router-link-active">
      <img src="assets/logo-ims.png" alt="IMS Logo" class="h-10">
    </a>
  </div>
  <div class="flex flex-col mt-6" [ngClass]="{'*:justify-center': (sidebarService.isCollapsed$ | async)}">
    <a class="flex items-center text-center p-4 hover:bg-[#FFC20E] hover:text-black" routerLink="/home"
      routerLinkActive="bg-[#FFC20E] text-black">
      <fa-icon [icon]="faHome" class="text-2xl w-8 mr-2"></fa-icon>
      <span class="menu-text" [ngClass]="(sidebarService.isCollapsed$ | async) ? 'hidden' : 'block'">Homepage</span>
    </a>
    <a class="flex items-center text-center p-4 hover:bg-[#FFC20E] hover:text-black" routerLink="/admin/candidates">
      <fa-icon [icon]="faUser" class="text-2xl w-8 mr-2"></fa-icon>
      <span class="menu-text" [ngClass]="{'hidden': (sidebarService.isCollapsed$ | async)}">Candidate</span>
    </a>
    <a class="flex items-center text-center p-4 hover:bg-[#FFC20E] hover:text-black" routerLink="/admin/jobs">
      <fa-icon [icon]="faBriefcase" class="text-2xl w-8 mr-2"></fa-icon>
      <span class="menu-text" [ngClass]="{'hidden': (sidebarService.isCollapsed$ | async)}">Job</span>
    </a>
    <a class="flex items-center text-center p-4 hover:bg-[#FFC20E] hover:text-black" routerLink="/admin/interviews">
      <fa-icon [icon]="faCalendarAlt" class="text-2xl w-8 mr-2"></fa-icon>
      <span class="menu-text" [ngClass]="{'hidden': (sidebarService.isCollapsed$ | async)}">Interview</span>
    </a>
    <a class="flex items-center text-center p-4 hover:bg-[#FFC20E] hover:text-black" routerLink="/admin/offers">
      <fa-icon [icon]="faFileAlt" class="text-2xl w-8 mr-2"></fa-icon>
      <span class="menu-text" [ngClass]="{'hidden': (sidebarService.isCollapsed$ | async)}">Offer</span>
    </a>
    <a class="flex items-center text-center p-4 hover:bg-[#FFC20E] hover:text-black" routerLink="/admin/users">
      <fa-icon [icon]="faUsers" class="text-2xl w-8 mr-2"></fa-icon>
      <span class="menu-text" [ngClass]="{'hidden': (sidebarService.isCollapsed$ | async)}">User</span>
    </a>
  </div>
</aside>