<div class="pt-4 mx-auto  ">


  <div class="bg-white shadow-md hover:shadow-lg rounded-md p-8">
    <div class="flex items-start justify-between pb-6 flex-col md:flex-row">
      <h2 class="text-2xl font-semibold">User Information</h2>

      <ng-container *ngIf="userDetail; else createUpdateDate">
        <div class="text-sm text-gray-500 text-left md:text-right mt-2 md:mt-0">
          <p>Created at: {{ userDetail.createdDate | date: 'dd/MM/yyyy HH:mm:ss' }}</p>
          <p>
            Last updated:
            {{ userDetail.updatedDate ? (userDetail.updatedDate | date: 'dd/MM/yyyy HH:mm:ss') : "Haven't updated yet" }}
          </p>
        </div>
      </ng-container>
      <ng-template #createUpdateDate>
        <div class="text-sm text-gray-400 mt-2 md:mt-0">Loading date info...</div>
      </ng-template>
    </div>



    <div *ngIf="isLoading" class="text-center py-8">
      <div class="animate-spin rounded-full h-12 w-12 border-b-2 border-blue-500 mx-auto"></div>
    </div>

    <div *ngIf="!isLoading" class="grid grid-cols-1 md:grid-cols-2 gap-6">
      <!-- Full Name -->
      <div>
        <label class="block text-lg font-semibold ">Full Name</label>
        <p class="w-full ">
          {{ userDetail.fullName ? userDetail.fullName : 'null' }}
        </p>
      </div>

      <!-- Email -->
      <div>
        <label class="block text-lg font-semibold ">Email</label>
        <p class="w-full ">
          {{ userDetail.email ? userDetail.email : 'null' }}
        </p>
      </div>

      <!-- Date of Birth -->
      <div>
        <label class="block text-lg font-semibold ">Date of Birth</label>
        <p class="w-full ">
          {{ userDetail.dob ? (userDetail.dob | date:'yyyy-MM-dd') : 'null' }}
        </p>
      </div>

      <!-- Address -->
      <div>
        <label class="block text-lg font-semibold">Address</label>
        <p class="w-full ">
          {{ userDetail.address ? userDetail.address : 'null' }}
        </p>
      </div>

      <!-- Phone Number -->
      <div>
        <label class="block text-lg font-semibold ">Phone Number</label>
        <p class="w-full  ">
          {{ userDetail.phoneNumber ? userDetail.phoneNumber : 'null' }}
        </p>
      </div>

      <!-- Gender -->
      <div>
        <label class="block text-lg font-semibold ">Gender</label>
        <p class="w-full ">
          {{ userDetail.gender ? userDetail.gender : 'null' }}
        </p>
      </div>

      <!-- Roles -->
      <div>
        <label class="block text-lg font-semibold ">Roles</label>
        <p class="w-full  ">
          {{ userDetail.roles && userDetail.roles.length ? userDetail.roles.join(', ') : 'null' }}
        </p>
      </div>

      <!-- Department -->
      <div>
        <label class="block text-lg font-semibold ">Department</label>
        <p class="w-full  ">
          {{ userDetail.departmentName ? userDetail.departmentName : 'null' }}
        </p>
      </div>

      <!-- Status -->
      <div>
        <label class="block text-lg font-semibold ">Status</label>
        <p class="w-full ">
          {{ getStatusText(userDetail.isActive) ? getStatusText(userDetail.isActive) : 'null' }}
        </p>
      </div>

      <!-- Note -->
      <div class="md:col-span-2">
        <label class="block text-lg font-semibold mb-1">Note</label>
        <p class="w-full ">
          {{ userDetail.note ? userDetail.note : 'null' }}
        </p>
      </div>
    </div>

    <div class="mt-8 flex justify-end">
      <button type="button" (click)="onEdit()"
        class="cursor-pointer mr-4 bg-[#1976d2] text-white font-semibold py-2 px-6 rounded-md hover:bg-[#125cb0]">
        Edit
      </button>
      <button *ngIf="userDetail.isActive" type="button"
        [routerLink]="['/admin/users', userDetail.id, 'toggle-status']"
        [queryParams]="{ currentStatus: userDetail.isActive }"
        class="cursor-pointer mr-4 bg-yellow-400 text-white py-2 px-6 rounded-md hover:bg-yellow-300">
        Inactive
      </button>
      <button *ngIf="!userDetail.isActive" type="button"
        [routerLink]="['/admin/users', userDetail.id, 'toggle-status']"
        [queryParams]="{ currentStatus: userDetail.isActive }"
        class="cursor-pointer mr-4 bg-green-500 text-white py-2 px-6 rounded-md hover:bg-green-400">
        Active
      </button>

      <button type="button" routerLink="/admin/users"
        class="cursor-pointer border border-[#1976d2] text-[#1976d2] bg-white font-semibold py-2 px-6 rounded-md hover:bg-[#e3f2fd]">
        Back
      </button>
    </div>
  </div>
</div>
