<div class="container mx-auto max-w-screen-xl py-8 px-4">


  <div class="bg-white shadow-md hover:shadow-lg rounded-md p-8">

    <div *ngIf="isLoading" class="text-center py-8">
      <div class="animate-spin rounded-full h-12 w-12 border-b-2 border-blue-500 mx-auto"></div>
    </div>

    <div *ngIf="!isLoading" class="grid grid-cols-1 md:grid-cols-2 gap-6">
      <!-- Full Name -->
      <div>
        <label class="block text-lg font-semibold mb-1">Full Name</label>
        <p class="w-full  bg-gray-50">
          {{ userDetail.fullName ? userDetail.fullName : 'null' }}
        </p>
      </div>

      <!-- Email -->
      <div>
        <label class="block text-lg font-semibold mb-1">Email</label>
        <p class="w-full  bg-gray-50">
          {{ userDetail.email ? userDetail.email : 'null' }}
        </p>
      </div>

      <!-- Date of Birth -->
      <div>
        <label class="block text-lg font-semibold mb-1">Date of Birth</label>
        <p class="w-full  bg-gray-50">
          {{ userDetail.dob ? (userDetail.dob | date:'yyyy-MM-dd') : 'null' }}
        </p>
      </div>

      <!-- Address -->
      <div>
        <label class="block text-lg font-semibold mb-1">Address</label>
        <p class="w-full  bg-gray-50">
          {{ userDetail.address ? userDetail.address : 'null' }}
        </p>
      </div>

      <!-- Phone Number -->
      <div>
        <label class="block text-lg font-semibold mb-1">Phone Number</label>
        <p class="w-full  bg-gray-50">
          {{ userDetail.phoneNumber ? userDetail.phoneNumber : 'null' }}
        </p>
      </div>

      <!-- Gender -->
      <div>
        <label class="block text-lg font-semibold mb-1">Gender</label>
        <p class="w-full  bg-gray-50">
          {{ userDetail.gender ? userDetail.gender : 'null' }}
        </p>
      </div>

      <!-- Roles -->
      <div>
        <label class="block text-lg font-semibold mb-1">Roles</label>
        <p class="w-full  bg-gray-50">
          {{ userDetail.roles && userDetail.roles.length ? userDetail.roles.join(', ') : 'null' }}
        </p>
      </div>

      <!-- Department -->
      <div>
        <label class="block text-lg font-semibold mb-1">Department</label>
        <p class="w-full  bg-gray-50">
          {{ userDetail.departmentName ? userDetail.departmentName : 'null' }}
        </p>
      </div>

      <!-- Status -->
      <div>
        <label class="block text-lg font-semibold mb-1">Status</label>
        <p class="w-full  bg-gray-50">
          {{ getStatusText(userDetail.isActive) ? getStatusText(userDetail.isActive) : 'null' }}
        </p>
      </div>

      <!-- Note -->
      <div class="md:col-span-2">
        <label class="block text-lg font-semibold mb-1">Note</label>
        <p class="w-full  bg-gray-50">
          {{ userDetail.note ? userDetail.note : 'null' }}
        </p>
      </div>
    </div>

    <div class="mt-8 flex justify-end">
      <button type="button" (click)="onEdit()"
        class="cursor-pointer mr-4 bg-[#1976d2] text-white font-semibold py-2 px-6 rounded-md hover:bg-[#125cb0]">
        Edit
      </button>
      <button type="button" [routerLink]="['/admin/users', userDetail.id, 'inactive']"
        class="mr-4 bg-yellow-400 text-white py-2 px-6 rounded-md hover:bg-yellow-300">
        Inactive
      </button>
      <button type="button" routerLink="/admin/users"
        class="cursor-pointer border border-[#1976d2] text-[#1976d2] bg-white font-semibold py-2 px-6 rounded-md hover:bg-[#e3f2fd]">
        Back
      </button>
    </div>
  </div>
</div>
